<style>
.jumbotron {
    background-color: transparent !important;
    background-image: none !important;
    text-align: center;
    padding: 100px 20px 80px;
}

.hero-avatar {
    width: 160px;
    height: 160px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom: 28px;
    border: 3px solid rgba(255, 121, 1, 0.85);
    box-shadow: 0 0 30px rgba(36, 92, 150, 0.25);
}

.jumbotron-heading {
    color: #fff;
    font-size: 46px;
    margin-bottom: 15px;
}

.jumbotron .lead {
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
}

.hero-description {
    max-width: 800px;
    margin: 0 auto;
    color: #ccc;
    font-size: 18px;
    line-height: 1.7;
}

.jumbotron-btns {
    margin-top: 35px;
}

.jumbotron-btns a {
    margin: 5px;
}

@media (max-width: 576px) {
    .jumbotron {
        padding: 75px 15px 60px;
    }

    .hero-avatar {
        width: 125px;
        height: 125px;
    }

    .jumbotron-heading {
        font-size: 36px;
    }

    .jumbotron .lead {
        font-size: 22px;
    }

    .hero-description {
        font-size: 16px;
    }
}
</style>

<div class="jumbotron">

    <img
        class="hero-avatar"
        src="{{site.url}}{{site.baseurl}}/assets/img/avatar.png"
        alt="Nikolaos Chalatsis"
    >

    <p class="jumbotron-heading">
        Hi, I'm Nikolaos Chalatsis.
    </p>

    <p class="lead">
        Data Engineer
    </p>

    <p class="hero-description">
        Building reliable data pipelines, automated data workflows,
        and practical data solutions with an engineering mindset.
    </p>

    <div class="jumbotron-btns">
        <a
            href="{{site.url}}{{site.baseurl}}/projects/"
            class="btn btn-md btn-warning"
        >
            View Projects
        </a>

        <a
            href="{{site.url}}{{site.baseurl}}/contact/"
            class="btn btn-md btn-default"
        >
            Contact Me
        </a>
    </div>

</div>
